{% extends "vlog/base.html" %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'vlog/style/home.css' %} ">

    {% for post in posts%}

        <div class="blog-post-container">
            <div class="title-container">
                <h4>{{ post.title }}</h4>
            </div>
            <hr>
            <div class="content-container">
                <p>{{ post.content }}</p>
            </div>
            <hr>
            <div class="info-container">
               <p>{{ post.author }}, {{ post.date }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock body %}
